{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row align-items-start">
    <div class="col-lg-4 mt-4">
        <h5 class="text-dark mb-0">Tweet By Detik.com</h5>
        <a class="twitter-timeline" data-height="800" href="https://twitter.com/detikcom?ref_src=twsrc%5Etfw">Tweets by detikcom</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-lg-4 mt-4">
        <h5 class="text-dark mb-0">Tweet By Kompas.com</h5>
        <a class="twitter-timeline" data-height="800" href="https://twitter.com/kompascom?ref_src=twsrc%5Etfw">Tweets by kompascom</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-lg-4 mt-4" >
        <h5 class="text-dark mb-0">Tweet By BeritaSatu</h5>
        <a class="twitter-timeline" data-height="800" href="https://twitter.com/Beritasatu?ref_src=twsrc%5Etfw">Tweets by Beritasatu</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<div class="row align-items-start">
    <div class="col-lg-4 mt-4">
        <h5 class="text-dark mb-0">Tweet By Said Didu</h5>
        <a class="twitter-timeline" data-height="800" href="https://twitter.com/msaid_didu?ref_src=twsrc%5Etfw">Tweets by detikcom</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-lg-4 mt-4">
        <h5 class="text-dark mb-0">Tweet By Faisal Basri</h5>
        <a class="twitter-timeline" data-height="800" href="https://twitter.com/FaisalBasri?ref_src=twsrc%5Etfw">Tweets by kompascom</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-lg-4 mt-4" >
        <h5 class="text-dark mb-0">Tweet By Rizal Ramli</h5>
        <a class="twitter-timeline" data-height="800" href="https://twitter.com/RamliRizal?ref_src=twsrc%5Etfw">Tweets by Beritasatu</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

{% endblock %}